.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #FF136F;
}
.buy-now-botton{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color: wheat;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: tomato;
}
.cat2{
    background-color: blue;
}
.cat3{
    background-color: crimson;
}
.caregories h1{
    color: wheat;
}
.caregories img{
    width: 100px;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: wheat;
    border-top: none;
}
#Subscribe{
    height: 300px;
}
#Subscribe h6{
    color: grey;

}
footer{
    text-align: center;
}